.linkBlock {
    display: inline-block;
}

.link {
    text-decoration: none;
    color: #61dafb;
    margin: 20px;
    font-size: 1.3rem;
}

.link:hover {
    color: #067d9e;
    transition: all .5s;
}

.epicGamer {
    text-decoration: none;
    color: rgb(206, 53, 206);
    margin: 20px;
    font-size: 1.3rem;
}

.epicGamer:hover {
    color: rgb(145, 14, 145);
    transition: all .5s;
}
