.btn {
    width: 100%;
    background: transparent;
    font-size: 20px;
    padding: 15% 3% 3% 3%;
    border-radius: 10px;
    margin: 10px 0;
    text-align: left;
    font-weight: bolder;
    cursor: pointer;
}

.wantTo {
    border: 1px solid cyan;
    color: cyan;
}

.wantTo:hover {
    background-color: rgb(0, 180, 180);
    border-color: rgb(0, 180, 180);
    color: white;
    transition: all .25s;
}

.playing {
    border: 1px solid rgb(48, 202, 48);
    color: rgb(48, 202, 48);
}

.playing:hover {
    background-color: rgb(48, 202, 48);
    color: white;
    transition: all .25s;
}

.finished {
    border: 1px solid rgb(255,223,0);
    color: rgb(255,223,0);
}

.finished:hover {
    background-color: rgba(255, 221, 0, 0.801);
    border-color: rgba(255, 221, 0, 0.801);
    color: white;
    transition: all .25s;
}

.abond {
    border: 1px solid red;
    color: red;
}

.abond:hover {
    background-color: red;
    color: white;
    transition: all .25s;
}
