.footer {
    position: absolute;
    bottom: 0;
    height: 5rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.123);
}

.copyright {
    display: inline-block;
    float: left;
    margin: 2.4%;
}

.footerMenu {
    display: inline-block;
    float: right;
    margin: .5% 2.4% .5% 2.4%;
}