.cards {
    margin-top: 3%;
    text-align: center;
}

.signUpText {
    margin-bottom: 2%;
}

.signUpLink {
    display: block;
    text-decoration: none;
    border: 1px solid #61dafb;
    border-radius: 10px;
    width: 25%;
    margin: 0 auto;
    font-size: 1.75rem;
}

.signUpLink:hover {
    background-color: #067d9e;
    border-color: #067d9e;
    transition: all .5s;
}

.epicGamer{
    color: rgb(206, 53, 206);
}