.title {
    margin-bottom: 2%;
    margin-left: 1%;
    text-align: left;
}

.link {
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.collections {
    margin-bottom: 100px;
}
