.page {
    text-align: center;
    margin-top: 3%;
}

.epicGamer {
    color: rgb(206, 53, 206);
}

.link {
    text-decoration: none;
    color: #61dafb;
}

.link:hover {
    color: #067d9e;
    transition: all .5s;
}
