.labelText {
    display: block;
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.textarea {
    width: 60%;
    height: 200px;
    border: 1px solid rgba(255, 255, 255, 0.123);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.123);
    font-size: 18px;
    resize: none;
}

.errorTextarea {
    width: 60%;
    height: 200px;
    border: 1px solid rgb(255, 58, 58);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.123);
    font-size: 18px;
    resize: none;
}

.error {
    color: rgb(255, 58, 58);
    margin-top: 5px;
}
