.card {
    border: 1px solid rgba(255, 255, 255, 0.123);
    background-color: rgba(255, 255, 255, 0.027);
    border-radius: 15px;
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.164);
    transition: all .5s;
}

.poster {
    width: 100%;
    height: 350px;
    border-bottom: 5px solid white;
    border-radius: 15px;
}

.gameLink {
    text-decoration: none;
    font-size: 100%;
}

.gameName {
    display: block;
}
