.block {
    margin: 25px 0px;
}

.field {
    width: 40%;
    border: 1px solid rgba(255, 255, 255, 0.123);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.123);
    font-size: 18px;
}

.errorField {
    width: 40%;
    border: 1px solid rgb(255, 58, 58);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.123);
    font-size: 18px;
}

.labelText {
    display: block;
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.error {
    color: rgb(255, 58, 58);
    margin-top: 5px;
}

.previewDiv {
    margin-bottom: 25px;
}

.preview {
    display: block;
    margin: 0 auto;
    width: 50%;
    border: 1px solid rgb(206, 53, 206);
}
